.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.row {
    width: 100%;
    flex: 1 1 25%;
    
}

.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clr {
    flex-basis: 100%;
    width: 100%;
}

.card {
    background: black;
}